{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block container %}
<div class="row-fluid">
	<div class="span5 center">
		<div class="page-header">
			<h1>Hacker News Reader</h1>
			<small>A small project aiming to
			provide a better user interface for Hacker News. 
			</small>
		</div>
		<p>Name is subject to change due to other (web)apps using the same name.</p>
		<p>This small web-app is first of all a project I
		started as a tool for learning Python and Django. I am very new to
		both and have earlier used PHP for web programming.</p>
		<p>The biggest reason I started this project was because I wanted to browse HN on Android phone and the web page was hard to read. And all the apps I could find on Play Store was lacking some functions that made it hard to use.</p>
		<p>I am using <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> as a CSS framework (with a still very
		unfinished theme), <a href="http://sass-lang.com/">Sass</a> for CSS, <a href="http://www.crummy.com/software/BeautifulSoup/">BeautifulSoup</a> for HTML parsing, <a href="https://www.djangoproject.com/">Django</a> as a web
		framework and <a href="http://www.postgresql.org/">PostgreSQL</a> as the database. <br>
		And for hosting I am using <a href="https://www.appfog.com/">AppFog</a> at the moment on their free plan. <br>
		You can check <a href="https://github.com/cXhristian/Hacker-News-Reader/blob/master/requirements.txt">requirements.txt on Github</a> if you are actually interested in what
		modules I use. 
		</p>
		<p>The site is running on a 20min cache for the front
		page (one cache for each sorting) and 20min cache for each story. The
		plan is to run a worker for fetching the front page (and just the
		default front page) every hour or so to provide a better coverage of
		stories. 
		</p>
		<p>Currently most of the site does not use ajax or
		similar techniques for sorting etc, but that is planned as soon as I
		get the site to work fine without javascript. I don't want to site to
		end up being an unnavigable mess for noscript users. 
		</p>
		<p>I am also planning to make an Android app with a similar function as this theme, but I have no prior experience with Android programming and limited knowledge of Java so it might take a while.</p>
		<p><a href="https://github.com/cXhristian/Hacker-News-Reader">The project is available open-sourced at Github</a>. Feel
		free to look over the code and give me tips as I am sure as a novice
		I am doing many mistakes. :-)</p>
	</div>
</div>
{% endblock %}