{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Home{% endblock %} - Hacker News Reader</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand hidden-phone" href="/">Hacker News Reader</a>
				<ul class="nav">
					<li class="{% active request "^/[0-9 /]*$" %}"><a href="/">Home</a></li>
					<li class="{% active request "^/about" %}"><a href="/about">About</a></li>
				</ul>
				{% block navbar_button %}{% endblock %}
			</div>
		</div>
	</div>
	<div class="container-fluid">
	{% block container %}
		<h1>Default Page</h1>
		<p>Default template text</p>
	{% endblock %}
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.ba-throttle-debounce.js"></script>

	<script src="{{ STATIC_URL }}js/scripts.js"></script>
</body>
</html>
