{% load mptt_tags %}
{% load tags %}
{
	{% if story %}
	"story": {
		"id": {{ story.id }},
		"title": "{{ story.title|escapejs }}",
		"url": "{{ story.url|escapejs }}",
		"domain": "{{ story.domain|escapejs }}",
		{% if story.selfpost %}
		"selfpost_text": "{{ story.selfpost_text|escapejs }}",
		{% endif %}
		"score": {{ story.score|default:"0" }},
		"username": "{{ story.username|escapejs }}",
		"time": "{{ story.time|date:'r' }}",
		"time_unix": {{ story.time|date:'U' }},
		"comments": {{ story.comments|default:"0" }},
		"cache": "{{ story.time|date:'r' }}",
		"cache_unix": {{ story.time|date:'U' }}
	},
	{% endif %}
	{% if story.poll %}
	{% with lastpoll=polls|lastobject %}
	"poll": [
		{% for poll in polls %}
		{
			"name": "{{ poll.name|escapejs }}",
			"votes": {{ poll.score }},
			"percentage": "{% percentage poll.score total_votes 2 %}"
		}{% if poll != lastpoll %},{% endif %}
		{% endfor %}
	],
	{% endwith %}
	{% endif %}
	"comments": [
	{% with first_node=nodes|first %}
	{% recursetree nodes %}
		{
			"id": {{ node.id }},
			"username":	"{{ node.username|escapejs }}",
			"time": "{{ node.time|date:'r' }}",
			"time_unix": {{ node.time|date:'U' }},
			{% if not story and first_node == node and node.parent_id %}
			"parent": {{ node.parent_id }},
			{% elif not story and first_node == node %}
			"parent": {{ node.story_id }},
			{% endif %}
			"hiddenpercent": {{ node.hiddenpercent }},
			"text": "{{ node.text|escapejs }}"
			{% if not node.is_leaf_node %}
				, "children": [
					{{ children }}
				]
			{% endif %}
		}{% if node.get_next_sibling %}
		 	{% if first_node != node or story %},{% endif %}
		 {% endif %}
	{% endrecursetree %}
	{% endwith %}
	]
}
