{% extends "base.html" %}
{% load tags %}


{% block title %}
	{% if story %}
		{{ story.title|safe }}
	{% else %}
		{% with first_node=nodes|first %}
		{% if first_node %}
		{{ first_node.text|truncatechars:"80" }}
		{% else %}
		Item not found
		{% endif %}
		{% endwith %}
	{% endif %}
{% endblock %}


{% block container %}
{% if story %}
<div class="story">
	<h4><a class="link" href="{{ story.url }}">{{ story.title|safe }}</a> {% if not story.selfpost %}({{ story.url|domain }}){% endif %}</h4>
	{% if story.selfpost %}
	<div>{{ story.selfpost_text|markup2html|safe }}</div>
	{% endif %}
	{% if story.poll %}
	<a class="btn btn-poll" data-toggle="collapse" data-target=".poll-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</a>
	<div class="poll-collapse">
		{% for poll in polls %}
		<p>{{ poll.name }}: {% percentage poll.score total_votes 2 %}% ({{ poll.score }} vote{{ poll.score|pluralize }})</p>
		<div class="progress progress-hn poll">
			<div class="bar" style="width: {% percentage poll.score total_votes 0 %}%"></div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<p>
		{{ story.score|default:"0" }} points  by <a href="/user/{{ story.username }}">{{ story.username }}</a>
		<time title="{{ story.time|date:"r" }}" datetime="{{ story.time}}">{{ story.time|timesince|upto:',' }} ago</time> |
		{{ story.comments|default:"0" }} comment{{ story.comments|pluralize }} |
		<a href="http://news.ycombinator.com/item?id={{ story.id }}">news.ycombinator link</a>
		<br>
		<div class="cache">Displaying cache from {{ story.cache|timesince }} ago</div>
	</p>
</div>
{% endif %}
{% if comments %}
<div class="comments">
	{% for comment_trees in comments %}
		{% for comment, info in comment_trees %}
			{% if info.open %}
				<ul{% if not forloop.parentloop.first %} class="children"{% endif %}>
			{% else %}
				</li>
			{% endif %}
			<li class="{% if info.level|divisibleby:"2" %}even{% endif %}" id="{{ comment.id }}">
				<div class="comment">
					<a href="#" class="hidetoggle">[-]</a>
					<a{% if comment.username == story.username %} class="op"{% endif %} href="/user/{{ comment.username }}">{{ comment.username }}</a>
					<span> <time title="{{ comment.time|date:"r" }}" datetime="{{ comment.time}}">{{ comment.time|timesince|upto:',' }} ago</time></span>
					<a href="/comments/{{ comment.id }}">permalink</a>
					{% if forloop.first and comment.parent_id %}
						<a href="/comments/{{ comment.parent_id }}">parent</a>
					{% elif not forloop.first and comment.parent_id %}
						<a href="#{{ comment.parent_id }}">parent</a>
					{% endif %}
					<div class="content" style="color: {{ comment.hiddencolor }};">{{ comment.text|markup2html|safe }}</div>
				</div>
			{% for close in info.close %}
				</li></ul>
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endif %}
{% endblock %}
