{% extends "base.html" %}
{% load mptt_tags %}

{% block title %}{{ story.title }}{% endblock %}

{% block container %}
{% if story %}
<div class="story">
	<h4><a class="link" href="{{ story.url }}">{{ story.title }}</a> {{ story.domain }}</h4>
	{% if story.selfpost %}
	<div>{{ story.selfpost_text|safe|urlizetrunc:"63" }}</div>
	{% endif %}
	<p>
		{{ story.score|default:"0" }} points  by <a href="http://news.ycombinator.com/user?id={{ story.username }}">{{ story.username }}</a>
		<time title="{{ story.time|date:"r" }}" datetime="{{ story.time}}">{{ story.time|timesince }} ago</time> | 
		{{ story.comments|default:"0" }} comment{{ story.comments|pluralize }} |
		<a href="http://news.ycombinator.com/item?id={{ story.id }}">news.ycombinator link</a>
	</p>
</div>
{% endif %}
<div class="comments">
	<ul>
	{% recursetree nodes %}
		<li class="{% if node.level|add:first_node.level|divisibleby:"2" %}even{% endif %}" id="{{ node.id }}">
			<div>
				<a href="#" class="hidetoggle">[-]</a>
				<a{% if node.username == story.username %} class="op"{% endif %} href="http://news.ycombinator.com/user?id={{ node.username }}">{{ node.username }}</a> 
				<span> <time title="{{ node.time|date:"r" }}" datetime="{{ node.time}}">{{ node.time|timesince }} ago</time></span> 
				<a href="/comments/{{ node.id }}">permalink</a> 
				{% if not story and first_node == node and node.parent_id %}
				<a href="/comments/{{ node.parent_id }}">parent</a>
				{% elif not story and first_node == node %}
				<a href="/comments/{{ node.story_id }}">parent</a>
				{% endif %}
			</div>
			<div class="content" style="color: {{ node.hiddencolor }};">{{ node.text|safe|urlizetrunc:"63" }}</div>
			{% if not node.is_leaf_node %}
			<ul class="children">
				{{ children }}
			</ul>
			{% endif %}
		</li>
	{% endrecursetree %}
	</ul>
</div>
{% endblock %}
