{% load mptt_tags %}
{% load tags %}
{
	{% if story %}
	"story": {
		"id": {{ story.id }},
		"title": "{{ story.title|escapejs }}",
		"selfpost": {{ story.selfpost|yesno:"true,false" }},
		"poll": {{ story.poll|yesno:"true,false" }},
		{% if story.selfpost %}
		"selfpost_text": "{{ story.selfpost_text|escapejs }}",
		{% else %}
		"url": "{{ story.url|escapejs }}",
		"domain": "{{ story.url|domain|escapejs }}",
		{% endif %}
		"score": {{ story.score|default:"0" }},
		"username": "{{ story.username|escapejs }}",
		"time": "{{ story.time|date:'r' }}",
		"time_unix": {{ story.time|date:'U' }},
		"comments": {{ story.comments|default:"0" }},
		"cache": "{{ story.cache|date:'r' }}",
		"cache_unix": {{ story.cache|date:'U' }}
	},
	{% endif %}
	{% if story.poll %}
	{% with lastpoll=polls|lastobject %}
	"poll": [
		{% for poll in polls %}
		{
			"name": "{{ poll.name|escapejs }}",
			"votes": {{ poll.score }},
			"percentage": {% percentage poll.score total_votes 2 %}
		}{% if poll != lastpoll %},{% endif %}
		{% endfor %}
	],
	{% endwith %}
	{% endif %}
	"comments": [
	{% for node,structure in nodes|tree_info %}
    {% with nodeloop=forloop%}
		{% if not nodeloop.first %}
	    {% if structure.new_level %}, "children": [{% else %}},{% endif %}
	    {% endif %}
    	{
 			"id": {{ node.id }},
			"username":	"{{ node.username|escapejs }}",
			"time": "{{ node.time|date:'r' }}",
			"time_unix": {{ node.time|date:'U' }},
			{% if not story and nodeloop.first and node.parent_id %}
			"parent": {{ node.parent_id }},
			{% elif not story and nodeloop.first %}
			"parent": {{ node.story_id }},
			{% endif %}
			"hiddenpercent": {{ node.hiddenpercent }},
			"text": "{{ node.text|escapejs }}",
			"cache": "{{ node.cache|date:'r' }}",
			"cache_unix": "{{ node.cache|date:'U' }}"
	    {% for level in structure.closed_levels %}
			}
			{% if not nodeloop.last or not forloop.last %}
			]
			{% endif %}
		{% endfor %}
	{% endwith %}
	{% endfor %}
	]
}
