{% extends "base.html" %}
{% load tags %}
{% load query %}
{% block navbar_button %}
<a class="btn btn-navbar" data-toggle="collapse" data-target=".sidebar-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</a>
{% endblock %}
{% block container %}
<div class="row-fluid">
	<div class="span3">
		<div class="sidebar-container">
			<ul class="nav nav-list sidebar sidebar-collapse">
				<li class="nav-header">Sorting
					<ul class="nav nav-list">
						<li class="{% active request '(^/$)' %}"><a href="/">Frontpage</a></li>
						<li class="{% active request '^/self' %}"><a href="/self">Selfpost</a>
							<ul class="nav nav-list">
								<li class="{% active request '^/ask' %}"><a href="/ask">Ask HN</a></li>
								<li class="{% active request '^/show' %}"><a href="/show">Show HN</a></li>
							</ul>
						</li>
						<li class="{% active request '^/poll' %}"><a href="/poll">Poll</a></li>
						<li class="{% active request '^/best' %}"><a href="/best">Best</a></li>
						<li class="{% active request '^/newest' %}"><a href="/newest">Newest</a></li>
					</ul>
				</li>
				<li class="nav-header">Score over
					<ul class="nav nav-list">
						<li class="{% active_score request '0' %}"><a href="{% query_string "over=0" "" %}">Show All</a></li>
						<li class="{% active_score request '50' %}"><a href="{% query_string "over=50" "" %}">50</a></li>
						<li class="{% active_score request '75' %}"><a href="{% query_string "over=75" "" %}">75</a></li>
						<li class="{% active_score request '100' %}"><a href="{% query_string "over=100" "" %}">100</a></li>
					</ul>
				</li>
				<li class="nav-header">Show per page
					<ul class="nav nav-list">
						<li{% if limit == 25 %} class="active"{% endif %}><a href="{% query_string "limit=25" "" %}">25</a></li>
						<li{% if limit == 50 %} class="active"{% endif %}><a href="{% query_string "limit=50" "" %}">50</a></li>
						<li{% if limit == 100 %} class="active"{% endif %}><a href="{% query_string "limit=100" "" %}">100</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="span9">
		<table id="stories" class="table table-striped table-hover table-condensed">
			<tbody>
				<thead class="hidden-phone">
					<tr>
						<th>Comments</th>
						<th>Score</th>
						<th>Submission</th>
						<th>Time</th>
					</tr>
				</thead>
				{% for story in stories %}
				<tr>
					<td><a class="comments" href="/comments/{{ story.id }}">{{ story.comments|default:"0" }}</a></td>
					<td><a class="score" href="/comments/{{ story.id }}">{{ story.score|default:"0" }}</a></td>
					{% if story.selfpost %}
					<td><a class="link" href="/comments/{{ story.id }}">{{ story.title|safe }}</a></td>
					{% else %}
					<td><a class="link" href="{{ story.url }}">{{ story.title|safe }}</a> ({{ story.url|domain }})</td>
					{% endif %}
					<td><time title="{{ story.time|date:"r" }}" datetime="{{ story.time}}">{{ story.time|timesince|upto:',' }}</time></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if pages|length > 1 %}
		<div class="pagination pagination-centered">
			<ul>
				{% if stories.number != 1 %}
				<li><a href="{% query_string "page=1" "" %}">&laquo;</a></li>
				{% else %}
				<li class="disabled"><span>&laquo;</span></li>
				{% endif %}

				{% if stories.has_previous %}
				<li><a href="{% query_string "page=stories.previous_page_number" "" %}">&lsaquo;</a></li>
				{% else %}
				<li class="disabled"><span>&lsaquo;</span></li>
				{% endif %}

				{% for page in pages %}
				<li{% if page == stories.number %} class="active" {% endif %}><a href="{% query_string "page=page" "" %}">{{ page }}</a></li>
				{% endfor %}

				{% if stories.has_next %}
				<li><a href="{% query_string "page=stories.next_page_number" "" %}">&rsaquo;</a></li>
				{% else %}
				<li class="disabled"><span>&rsaquo;</span></li>
				{% endif %}

				{% if stories.number != stories.paginator.num_pages %}
				<li><a href="{% query_string "page=stories.paginator.num_pages" "" %}">&raquo;</a></li>
				{% else %}
				<li class="disabled"><span>&raquo;</span></li>
				{% endif %}

			</ul>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
