{% load tags %}
{
	"stories": [
	{% with last_story=stories|lastpageobject %}
	{% for story in stories %}
		{
			"id": {{ story.id }},
			"title": "{{ story.title|escapejs }}",
			"url": "{{ story.url|escapejs }}",
			"selfpost": {{ story.selfpost|yesno:"true,false" }},
			"poll": {{ story.poll|yesno:"true,false" }},
			"domain": "{{ story.domain|escapejs }}",
			"username": "{{ story.username|escapejs }}",
			"score": {{ story.score }},
			"comments": {{ story.comments }},
			"story_type": "{{ story.story_type }}",
			"time": "{{ story.time|date:'r' }}",
			"time_unix": "{{ story.time|date:'U' }}",
			"cache": "{{ story.cache|date:'r' }}",
			"cache_unix": "{{ story.cache|date:'U' }}"
		}{% if story != last_story %},{% endif %}
	{% endfor %}
	{% endwith %}
	],
	"page": {
		"current": {{ stories.number }},
		"total": {{ stories.paginator.num_pages }}
	}
}
