@import "bootstrap-variables";
@import "bootstrap";
@import "bootstrap-responsive";

body {
	padding-bottom: 20px;
}
table.table {
	a:visited {
		color: #C7C7C7;	
	}
	a.comments, a.score {
		color: #555;
	}
	a.comments, a.score {
		width: 100%;
		height: 100%;
		display: block;
	}
}
/* Hacky way for hover effect */
.onhover {
	text-decoration: underline;
}

.btn-sidebar .icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	background-color: whiteSmoke;
	@include border-radius(1px);
	@include box-shadow(#{0 1px 0 rgba(0,0,0,.25)});
}
.btn-sidebar .icon-bar + .icon-bar {
	margin-top: 3px;
}
.btn-sidebar {
	display: none;
	float: right;
	padding: 7px 10px;
	margin-left: 5px;
	margin-right: 5px;
	// @include buttonBackground(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%));
	// @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
}

@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	.pagination ul > li > a, .pagination ul > li > span {
		padding: 0 9px;	
	}
	div.story {
		margin-left: 8px;
	}
	div.comments ul {
		margin: 0 0 10px 5px;
	}
	.sidebar-collapse, .sidebar-collapse.collapse {
		overflow: hidden;
		height: 0;
	}
	.sidebar-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		@include border-radius(4px);
	}
	.btn-sidebar {
		display: block;
	}
}
@media (max-width: 979px) {
	
}


div.story {
	margin-left: 5px;
	> p {
	font-size: 12px;
	color: #5F5F5F;
	}
}
div.comments {
	> ul {
		margin: 0 0 10px 0px;
		> li {
			margin-bottom: 10px;
		}
	}
	li {
		line-height: 20px;
		background-color: white;
		border-radius: 5px;
		padding: 7px 2px 2px 7px;
		margin: 4px;
		list-style-type: none;
		border: 1px solid #ECECEC;
		&.even {
			background-color: #EBEBEB;
			pre {
				background-color: white;
			}
		}
		> div:first-child {
			font-size: 12px;
			color: #5F5F5F;
			a {
				color: #5F5F5F;
			}
			a.op {
				color: $linkColor;
			}
		}
	}
	a {
		word-wrap:break-word;
	}
}
/* Bootstrap related */
.btn-group-centered {
  text-align: center;
}
.btn-group {
	padding-bottom: 10px;
}
.navbar-inner {
	border-radius: 0px;
}