
body {
  background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	color: #333;
}


/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 25px;
}

.centered {
	text-align: center;
}

/* Links */
a {
	@include transition(color 0.1s ease-in, background 0.1s ease-in);
}

a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}

a:before,
a:after {
	@include transition(color 0.1s ease-in, background 0.1s ease-in);
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
