table.table {	
	
	a:visited {
		color: #C7C7C7;	
	}

	a.comments, a.score {
		color: #555;
	}

	a.comments, a.score {
		width: 100%;
		height: 100%;
		display: block;
	}
}

/* Hacky way for hover effect */
.onhover {
	text-decoration: underline;
}

@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	.pagination ul > li > a, .pagination ul > li > span {
		padding: 0 9px;	
	}
	div.story {
		margin-left: 8px;
	}
	
	div.comments ul {
		margin: 0 0 10px 5px;
	}
}

div.story {
	margin-left: 5px;
	> p {
	font-size: 12px;
	color: #5F5F5F;
	}
}


div.comments {
	> ul {
		margin: 0 0 10px 0px;
		> li {
			margin-bottom: 10px;
		}
	}

	li {
		line-height: 20px;
		background-color: white;
		border-radius: 5px;
		padding: 7px 2px 2px 7px;
		margin: 4px;
		list-style-type: none;
		border: 1px solid #ECECEC;
		&.even {
			background-color: #EBEBEB; /* #EBEBEB; */
			pre {
				background-color: white;
			}
		}
		> div:first-child {
			font-size: 12px;
			color: #5F5F5F;
			a {
				color: #5F5F5F;
			}
		}
	}
	a {
		word-wrap:break-word;
	}
}

/* Bootstrap related */
.btn-group-centered {
  text-align: center;
}
.btn-group {
	padding-bottom: 10px;
}
.navbar-inner {
	border-radius: 0px;
}